*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    /* background-image: url(../images/bg.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Urbanist', sans-serif;
}

.main-container
{
    background-image: url('/images/bgblur.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.sidebar
{
    width: 120px;  
    height: 100%;
    backdrop-filter: blur(1px);
    --webkit-backdrop-filter: blur(1px);
    background: hsl(0, 0, 100% /0.1);
    /* background: rgba(54, 152, 243, 0.397); */
    box-shadow: 0 8px 32px 0 rgba(54, 152, 243, 0.181);
    /* border-right: 2px solid rgba(101, 122, 141, 0.98); */
    /* border-right: 2px solid hsl(100%, 100, 100% /0.98); */
    transition: .4s ease-in-out;
}

.sidebar .toggle
{
    cursor: pointer;
    position: absolute;
    color: rgb(160, 158, 158);
    /* color: hsl(100%, 10%, 0 /0.8); */
    top: 180px;
    right: -20px;
    font-size: 38px;
    line-height: 50%;
    text-align: center;
    border-radius: 50%;
    padding:2px 0 2px 2px;
    /* background: linear-gradient(
        90deg,
        transparent 50%,
        rgba(54, 152, 243, 0.781)180%
    ); */
    background: linear-gradient(
        90deg,
        transparent 50%,
        hsla(0, 0, 80% /0.1) 50%,
    );
}

.sidebar.open
{
    width: 360px; 
}

.sidebar.open .toggle
{
    transform: translateY(45px);
}

.sidebar .toggle i
{
    transition: .4s linear;
}

.sidebar.open .toggle i
{
    transform: rotateY(180deg);
}

.sidebar .logo
{
    width: 100%;
    height: 240px;
    padding: 40px 0;
    display: grid;
    align-items: center;
    justify-items: center;

}
.sidebar .logo img
{
    width: 100px;  
    border-radius: 50%;
    transition: .4s;
}

.sidebar.open .logo img
{
    width: 170px;
}

.sidebar .logo h3
{
    color: antiquewhite;
    font-size: 36px;
    margin-top: 12px;
    font-variant: small-caps;
    pointer-events: none;
    
    scale: 0;
    opacity: 0;

}

.sidebar.open .logo h3
{
    scale: 1;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar nav
{
    padding: 0 30px;
}

.sidebar .nav-title
{
    color: antiquewhite;
    margin: 40px 0 18px;
    pointer-events: none;
    /* padding-top: 0px; */
    opacity: 0; /*come back*/ 
}

.sidebar.open .nav-title
{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar nav .nav-item
{
   cursor: pointer;
   display: flex; 
   align-items: center;
   justify-content: flex-start;
   border-radius: 4px;
   width: 100%;
   height: 56px;
   padding: 0 16px;
   margin: 8px 0;
   color: rgb(250, 250, 25);
   transition: .3s;
}

.sidebar nav .nav-item.active
{
    background: rgba(124, 135, 235, 0.404) !important;
}

.sidebar nav .nav-item:hover
{
    background: rgba(159, 248, 132, 0.315);
}

.sidebar nav .nav-item i
{
    font-size: 26px;
}

.sidebar nav .nav-item span
{
    font-size: 18px;
    margin-left: 8px;
    pointer-events: none;
    opacity: 0;
}

.sidebar.open nav .nav-item span
{
    opacity: 1;
    pointer-events: visible;
    transition: .4s;
    transition-delay: .2s;
}

.sidebar hr
{
    width: 100%;
    height: 2px;
    border-radius: 3px;
    margin: 40px 0 50px;
    background: rgba(159, 248, 132, 0.091);
    opacity: 0;
}

.sidebar.open hr
{
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}